<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">Movies & TV show app</h1>
    <p class="lead">
      Netflix is an American subscription video on-demand over-the-top streaming
      service owned and operated by Netflix, Inc. The service primarily
      distributes films and television series produced by the media company of
      the same name from various genres, and it is available internationally in
      multiple languages
    </p>
  </div>
</div>
